amqp==2.3.2
Babel==2.6.0
billiard==3.5.0.5
celery==4.2.1
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
decorator==4.0.11
Django==2.1.4
django-widget-tweaks==1.4.3
fake-useragent==0.1.11
flower==0.9.2
gevent==1.4.0
greenlet==0.4.15
idna==2.8
imageio==2.1.2
InstagramAPI==1.0.2
instaloader==4.2.1
kombu==4.2.2.post1
moviepy==0.2.3.2
numpy==1.15.4
Pillow==5.4.1
psutil==5.5.0
pycparser==2.19
pytz==2018.7
redis==2.10.6
requests==2.11.1
requests-toolbelt==0.7.0
tornado==5.1.1
tqdm==4.11.2
urllib3==1.24.1
var-dump==1.2
vine==1.2.0
